body {
  background-color: black;
  color: white;
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 60px;
}

#bg-img {
  content:url("bg_image.jpg");
  height: 250px;
  width: 250px;
  position: absolute;
  bottom: 0;
}

#dodger {
  content:url("Pikachu.png");
  background-color: none;
  height: 50px;
  position: absolute;
  width: 50px;
}

#game {
  background-color: #C1C1C1;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

#start {
  color: black;
  font-size: 3rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
  font-family: Helvetica;
}

.rock {
  content:url("Pokeball.png");
  width: 25px;
  height: 25px;
  background: none;
  position: absolute;
}
